<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-6 px-0 box-principal container-banner">
      <div>
        <div class="ms-5 m-2 ps-1">
          <div class="input-group mb-3">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
            </button>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar producto..."
              aria-label="Example text with button addon"
              aria-describedby="button-addon1"
            />
          </div>
        </div>

        <div class="ms-5 m-2 ps-1">
          <ul class="list-group">
            <li class="list-group-item box-banner2 container-fluid">
              <b>Tortas</b><br />
              <a class="product px-4" href="#"><span>Cumpleaños</span></a>
              <a class="product px-4" href="#"><span>Bodas</span></a>
              <a class="product px-4" href="#"><span>Bautizos</span></a>
            </li>
            <li class="list-group-item box-banner2 container-fluid">
              <b>Postres</b><br />
              <a class="product px-4" href="#"><span>Dulces</span></a>
              <a class="product px-4" href="#"><span>Salados</span></a>
            </li>
            <li class="list-group-item box-banner2 container-fluid">
              <b>Catering Empresarial</b><br />
              <a class="product px-4" href="#"
                ><span>Personalizados con logo</span></a
              >
              <a class="product px-4" href="#"><span>Bocaditos</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-6 px-0 box-principal banner-responsive">
      <div id="banner-custom" class="banner-responsive1">
        <img
          src="./../../../assets/images/olivias-bakery-1.jpg"
          alt="olivias-bakery-1"
        />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-custom">
  <section class="mx-4 px-3">
    <div class="card-custom">
      <div class="icon-custom">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="bi bi-telephone"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
          />
        </svg>
      </div>
      <div class="footer-responsive ms-4">
        <p class="span2">Servicio al cliente</p>
        <ul>
          <li class="hiperv0">
            <a class="span3" href="#">Política de cookies</a>
          </li>
          <li class="hiperv0">
            <a class="span3" href="#">Política de privacidad</a>
          </li>
          <li class="hiperv0">
            <a class="span3" href="#">Términos y condiciones</a>
          </li>
        </ul>
      </div>
      <br />
      <div class="m-0">
        <ul class="text-end me-4 pt-1">
          <li class="hiperv">
            <a class="span4" href="#"
              ><span class="forgot-hiperv">Contáctanos</span></a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="card-custom">
      <div class="icon-custom">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="bi bi-chat-left"
          viewBox="0 0 16 16"
        >
          <path
            d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
          />
        </svg>
      </div>
      <div class="ms-4">
        <p class="span2">Preguntas frecuentes</p>
        <ul class="mb-1">
          <li class="hiperv0">
            <a class="span3" href="#">¿Cuál es el horario de pedidos?</a>
          </li>
          <li class="hiperv0">
            <a class="span3" href="#">¿Cuáles son los métodos de pago?</a>
          </li>
          <li class="hiperv0">
            <a class="span3" href="#">¿Puedo anular mi compra?</a>
          </li>
          <li class="hiperv0">
            <a class="span3" href="#"
              >¿Qué pasa si no se encuentra la persona que...</a
            >
          </li>
        </ul>
        <div class="m-0">
          <ul class="text-end me-4 mt-3">
            <li class="hiperv">
              <a class="span4" href="#"
                ><span class="forgot-hiperv">Leer más</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-custom">
      <div class="icon-custom">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="bi bi-book px-2 py-2"
          viewBox="0 0 16 16"
        >
          <path
            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
          />
        </svg>
      </div>
      <div class="ms-4">
        <p class="span2">Libro de reclamaciones</p>
        <ul>
          <li id="book-custom">
            <a class="span3" href="#"
              ><b>Ley N°29571:</b> Código de Protección y Defensa al Consumidor.
            </a>
          </li>
        </ul>
        <br /><br />
        <div class="m-0">
          <ul class="text-end me-4 mt-2">
            <li class="hiperv">
              <a class="span4" href="#"
                ><span class="forgot-hiperv">Revisa aquí</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div>
    <button class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
        <path
          d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
        />
      </svg>
    </button>
  </div>
</div>
