.imagencard {
  width: 100%;
  height: 150px;
  margin-top: 30px;
  border-radius: 10px;
}

.contenido {
  padding: 20px;
}

.titulo {
  margin-bottom: 20px;
  font-size: medium;
  font-weight: bold;
}
