<div class="container-fluid mt-6">
  <div class="row body-custom">
    <div class="col-6">
      <h4 class="subtit ms-5 ps-5 pt-5">
        Misión
        <hr class="my-0" style="color: #6b7281" />
      </h4>
      <p class="parag ms-5 ps-5">
        Nuestra pastelería se compromete a ofrecer productos de alta calidad y
        sabor excepcional a nuestros clientes. Nos esforzamos por utilizar
        ingredientes frescos y de la mejor calidad, elaborando nuestros
        productos de forma artesanal con amor y dedicación.
      </p>

      <h4 class="subtit ms-5 ps-5 pt-5">
        Visión
        <hr class="my-0" style="color: #6b7281" />
      </h4>
      <p class="parag ms-5 ps-5">
        Queremos convertirnos en la pastelería líder de nuestra ciudad,
        ofreciendo siempre los mejores productos de panadería y repostería. Como
        empresa, queremos ser reconocidos por la calidad de nuestros productos y
        el servicio a nuestros clientes, manteniendo nuestra imagen mediante la
        innovación y creación de productos deliciosos, para satisfacer la
        necesidad del mercado.
      </p>
    </div>
    <div class="col-6 photo-logo">
      <div>
        <img
          src="../../../assets/images/olivias-bakery-logo.jpg"
          alt="olivias-bakery-logo"
        />
      </div>
    </div>
  </div>
</div>
